.about{
    padding: 0px 20px;
}

.about .wrapper{
    width: 50%;
    max-width: 1366px;
    margin: 50px auto;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.about .wrapper .text h1{
    font-family: 'Dancing Script', cursive;
}

.about .wrapper .text p{
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    font-size: 1.3rem;
    line-height: 25px;
}

.about .wrapper .text p::first-letter{
    margin-left: 20px;
}

.about .wrapper .photo{
    overflow: hidden;
    border-radius: 10px;
}

.about .wrapper .photo img{
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.about .wrapper .photo img:hover{
    transform: scale(1.2);
}

.header {
    position: relative;
}

.header .photo img{
    position: absolute;
    top: 275px;
    right: 250px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.5s;
}

.header .photo img:hover{
    transform: scale(1.1);
}